---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/entries/192873918723981?access_token=7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Accept-Patch:
      - application/json-patch+json
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"7981359296150089808"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/entries/:id"
      X-Contentful-Request-Id:
      - 3c3e5383-cdde-4300-9b86-69ac915cc443
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Entry",
            "id": "192873918723981",
            "environment": "master",
            "space": "kk2bw5ojx476"
          },
          "requestId": "3c3e5383-cdde-4300-9b86-69ac915cc443"
        }
  recorded_at: Sun, 31 Jan 2021 23:30:53 GMT
recorded_with: VCR 6.0.0
