---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/entries/172638176237812?access_token=7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Accept-Patch:
      - application/json-patch+json
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"3239773014335026211"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/entries/:id"
      X-Contentful-Request-Id:
      - 5de59ed7-f2bb-4b83-9e5a-3924a5d24fe9
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Entry",
            "id": "172638176237812",
            "environment": "master",
            "space": "kk2bw5ojx476"
          },
          "requestId": "7c64cdde-4ea0-4173-946a-258d75918e4b"
        }
  recorded_at: Mon, 01 Feb 2021 01:25:11 GMT
recorded_with: VCR 6.0.0
