---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/entries/?access_token=7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c&content_type=recipe&select=sys.id,fields
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"14019945663538154203"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/entries"
      X-Contentful-Request-Id:
      - 6279e84a-2ae2-44bd-8e17-e7d826197fa0
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidQuery"
          },
          "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field.",
          "details": {
            "errors": [
              {
                "name": "unknownContentType",
                "value": "DOESNOTEXIST"
              }
            ]
          },
          "requestId": "6279e84a-2ae2-44bd-8e17-e7d826197fa0"
        }
  recorded_at: Sun, 31 Jan 2021 22:12:48 GMT
recorded_with: VCR 6.0.0
