---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/entries/437eO3ORCME46i02SeCW46?access_token=7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Accept-Patch:
      - application/json-patch+json
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"7345566743743018798"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/entries/:id"
      X-Contentful-Request-Id:
      - 0ce1f73a-2399-48b8-bede-ca66404dd258
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "kk2bw5ojx476"
              }
            },
            "id": "437eO3ORCME46i02SeCW46",
            "type": "Entry",
            "createdAt": "2018-05-07T13:32:04.593Z",
            "updatedAt": "2018-05-07T13:36:41.741Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "revision": 3,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "recipe"
              }
            },
            "locale": "en-US"
          },
          "fields": {
            "title": "Crispy Chicken and Rice twith Peas & Arugula Salad",
            "photo": {
              "sys": {
                "type": "Link",
                "linkType": "Asset",
                "id": "5mFyTozvSoyE0Mqseoos86"
              }
            },
            "calories": 785,
            "description": "Nice description",
            "chef": {
              "sys": {
                "type": "Link",
                "linkType": "Entry",
                "id": "NysGB8obcaQWmq0aQ6qkC"
              }
            },
            "tags": [
              {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "61Lgvo6rzUIgIGgcOAMgQ8"
                }
              },
              {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "gUfhl28dfaeU6wcWSqs0q"
                }
              }
            ]
          }
        }
  recorded_at: Sun, 31 Jan 2021 23:16:03 GMT
recorded_with: VCR 6.0.0
