---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/entries/NysGB8obcaQWmq0aQ6qkC?access_token=7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Accept-Patch:
      - application/json-patch+json
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"9695671819849149153"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/entries/:id"
      X-Contentful-Request-Id:
      - f2a94bf9-63f8-4777-a26d-5f018281d6d8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "kk2bw5ojx476"
              }
            },
            "id": "NysGB8obcaQWmq0aQ6qkC",
            "type": "Entry",
            "createdAt": "2018-05-07T13:29:03.514Z",
            "updatedAt": "2018-05-07T14:19:02.570Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "revision": 2,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "chef"
              }
            },
            "locale": "en-US"
          },
          "fields": {
            "name": "Jony Chives"
          }
        }
  recorded_at: Sun, 31 Jan 2021 18:48:14 GMT
recorded_with: VCR 6.0.0
