---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/assets/5mFyTozvSoyE0Mqseoos86?access_token=7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"13869774801203835935"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/assets/:id"
      X-Contentful-Request-Id:
      - ed74c2fc-5900-441c-ba3f-3029e362cc9f
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "kk2bw5ojx476"
              }
            },
            "id": "5mFyTozvSoyE0Mqseoos86",
            "type": "Asset",
            "createdAt": "2018-05-07T13:31:45.501Z",
            "updatedAt": "2018-05-07T13:31:45.501Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "revision": 1,
            "locale": "en-US"
          },
          "fields": {
            "title": "SKU1479 Hero 077-71d8a07ff8e79abcb0e6c0ebf0f3b69c",
            "file": {
              "url": "//images.ctfassets.net/kk2bw5ojx476/5mFyTozvSoyE0Mqseoos86/fb88f4302cfd184492e548cde11a2555/SKU1479_Hero_077-71d8a07ff8e79abcb0e6c0ebf0f3b69c.jpg",
              "details": {
                "size": 230068,
                "image": {
                  "width": 1020,
                  "height": 680
                }
              },
              "fileName": "SKU1479_Hero_077-71d8a07ff8e79abcb0e6c0ebf0f3b69c.jpg",
              "contentType": "image/jpeg"
            }
          }
        }
  recorded_at: Sun, 31 Jan 2021 17:11:48 GMT
recorded_with: VCR 6.0.0
